.content {
  color: #2e2a2b; }
  .content h1, .content h2, .content h3, .content h4, .content h5 {
    font-weight: 900;
    color: #2e2a2b;
    margin-top: 1em; }
  .content p {
    font-family: Georgia;
    line-height: 1.6; }
    @media (min-width: 550px) {
      .content p {
        font-size: 2.2rem; } }
    @media (min-width: 900px) {
      .content p {
        font-size: 2.4rem;
        line-height: 1.7; } }
  .content a:hover {
    text-decoration: none; }
  .content img {
    width: 100%;
    height: auto;
    display: block;
    background: #fff;
    padding: 10px;
    box-sizing: border-box; }
  .content figure {
    margin: 0 0 2.2rem;
    width: 100% !important; }
  .content figcaption {
    margin-top: 10px; }
  .content ol, .content ul {
    font-family: Georgia;
    line-height: 1.6; }
    @media (min-width: 550px) {
      .content ol, .content ul {
        font-size: 2.2rem;
        margin-left: 1em; } }
    @media (min-width: 900px) {
      .content ol, .content ul {
        font-size: 2.6rem; } }
  .content ul li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 25px;
    color: #2e2a2b; }
  .content blockquote {
    font-style: oblique;
    margin-right: 0;
    margin-left: 0;
    padding-left: 1em;
    border-left: 8px solid #d4d4d4; }
    @media (min-width: 550px) {
      .content blockquote {
        padding-left: 1.5em; } }
  .content .error_wrapper {
    border-bottom: 16px solid #d4d4d4;
    padding: 3rem 0;
    margin: 3rem 0 6rem; }

.divider {
  border-top: 16px solid #d4d4d4;
  padding-top: 5rem;
  margin: 6rem 0 6rem; }

.content-wrapper {
  max-width: 900px;
  margin: 0 auto; }

.grid {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 650px) {
    .grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 1em; } }
  @media (min-width: 1200px) {
    .grid {
      max-width: 1200px;
      grid-column-gap: 2em; } }

.grid--career {
  display: grid; }

.intro {
  margin-top: 3rem; }
  @media (min-width: 650px) {
    .intro {
      margin-top: 3em; } }

.intro__title {
  font-size: 6rem; }
  .content .intro__title {
    margin-top: 0; }
  @media (min-width: 650px) {
    .intro__title {
      text-align: left; } }

.intro__title--about {
  margin-top: 0.5em; }

.intro__paragraph {
  margin-bottom: 0; }

.avatar-wrapper {
  max-width: 170px;
  margin: 0 auto 2em; }
  @media (min-width: 650px) {
    .avatar-wrapper {
      display: none;
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .avatar-wrapper {
      display: block;
      grid-column: 1 / 3; } }

.avatar {
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    .avatar {
      margin-left: 20px; } }

.avatar__image {
  display: block;
  width: 100%; }

.intro__copy {
  grid-column: 2 / 11; }
  @media (min-width: 1200px) {
    .intro__copy {
      grid-column: 3 / 11; } }
  .intro__copy .title {
    margin-top: 0; }

.background-title {
  grid-column: 2 / 11; }
  @media (min-width: 1200px) {
    .background-title {
      grid-column: 3 / 11; } }

.background-copy {
  grid-column: 2 / 9; }
  @media (min-width: 650px) {
    .background-copy {
      margin-bottom: 1em; } }
  @media (min-width: 1200px) {
    .background-copy {
      grid-column: 3 / 9; } }

.background-image {
  grid-column: 9 / 13; }

.background-image__graphic {
  display: block;
  width: 100%;
  margin-bottom: 20px; }

.brand {
  background: #ffd000;
  padding: 100px 0 150px;
  position: relative; }
  .brand:before, .brand:after {
    display: block;
    content: '';
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 15px;
    background: #000; }
  .brand:after {
    bottom: 40px; }

.brand__logo {
  width: 80%;
  margin: 0 auto;
  display: block; }
  @media (min-width: 650px) {
    .brand__logo {
      grid-column: 5 / 9;
      width: 100%; } }

.career-section {
  border-left: 1px solid #222;
  padding-left: 50px;
  position: relative; }
  .career-section:first-child {
    padding-bottom: 1em; }
  @media (min-width: 650px) {
    .career-section {
      padding-bottom: 40px;
      grid-column: 2 / 9; } }
  @media (min-width: 1200px) {
    .career-section {
      grid-column: 3 / 9; } }

.career-highlight {
  position: relative; }
  .career-highlight:before {
    display: block;
    content: '';
    width: 40px;
    height: 1px;
    left: 0;
    top: 12px;
    position: absolute;
    background: #222; }

@media (min-width: 650px) {
  .career-title {
    grid-column: 2 / 9; } }

@media (min-width: 1200px) {
  .career-title {
    grid-column: 3 / 9; } }

.career-year {
  display: block;
  font-weight: 900;
  font-size: 5em;
  color: #e1e1e1;
  padding-bottom: 0; }
  .career-year p {
    margin-bottom: 0; }
  @media (min-width: 650px) {
    .career-year {
      border-left: 0;
      grid-column: 9 / 13;
      margin-top: -40px;
      font-size: 3.8em; }
      .career-year:nth-child(2) {
        grid-row: 2/3; } }
  @media (min-width: 865px) {
    .career-year {
      font-size: 6em;
      margin-top: -48px; } }

.this-site {
  background: #222;
  padding: 2em 0;
  color: #fff; }

.this-site-content {
  grid-column: 1/13;
  color: #fff; }

h2.this-site-title {
  color: #fff !important;
  margin-top: 0; }
