@import "../sass/components/colours";
@import "../sass/components/content";

.grid {
	width: 90%;
	margin: 0 auto;

	@media (min-width: 650px) {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 1em;
	}

	@media (min-width: 1200px) {
		max-width: 1200px;
		grid-column-gap: 2em;
	}
}

.intro {
	margin-top: 3rem;

	@media (min-width: 650px) {
		margin-top: 3em;
	}
}

.intro__title {
	font-size: 6rem;
	.content & { margin-top: 0; }

	@media (min-width: 650px) {
		text-align: left;
	}
}

.intro__paragraph {
	margin-bottom: 0;
}

.avatar-wrapper {
	max-width: 150px;
	margin: 0 auto;

	@media (min-width: 650px) {
		display: none;
	}
	
	@media (min-width: 1200px) {
		display: block;
		grid-column: 1 / 3;
	}
}

.avatar {
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	
	@media (min-width: 1200px) {
		margin-left: 20px;
	}
}

.avatar__image {
	display: block;
	width: 100%;
}

.intro__copy {
	grid-column: 2 / 11;

	@media (min-width: 1200px) {
		grid-column: 3 / 11;
	}

	.title {
		margin-top: 0;
	}
}

.background-title {
	grid-column: 2 / 11;

	@media (min-width: 1200px) {
		grid-column: 3 / 11;
	}
}

.background-copy {
	grid-column: 2 / 9;

	@media (min-width: 650px) {
		margin-bottom: 1em;
	}
	@media (min-width: 1200px) {
		grid-column: 3 / 9;
	}
}

.background-image {
	grid-column: 9 / 13;

}

.background-image__graphic {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.brand {
	background: #ffd000;
	padding: 100px 0 150px;
	position: relative;

	&:before,
	&:after {
		display: block;
		content: '';
		width: 100%;
		height: 15px;
		position: absolute;
		bottom: 15px;
		background: #000;
	}

	&:after  {
		bottom: 40px;
	}
}

.brand__logo {
	width: 80%;
	margin: 0 auto;
	display: block;

	@media (min-width: 650px) {
		grid-column: 5 / 9;
		width: 100%;
	}
	
}

.career-section {
	
	border-left: 1px solid #ccc;
	padding-left: 50px;
	position: relative;

	@media (min-width: 650px) {
		grid-column: 3 / 10;
	}
	@media (min-width: 1200px) {
		grid-column: 3 / 9;
	}
}

.career-highlight {
	position: relative;

	&:after {
		display: block;
		content: '';
		width: 35px;
		height: 35px;
		left: -17px;
		top: 0;
		position: absolute;
		background: $background;
		border-radius: 100%;
		border: 1px solid #ccc;
	}
}

.career-title {
	grid-column: 3 / 13;
}

.career-year {	

	@media (min-width: 650px) {
		font-weight: 900;
		font-size: 6rem;
		color: #e1e1e1;
		grid-column: 10 / 13;
		margin-top: -20px;
	}

	@media (min-width: 1200px) {
		grid-column: 9 / 13;
		font-size: 8rem;
		margin-top: -30px;
	}
	
}