@import "../sass/components/colours";

.post__content-wrapper {
	transition: opacity 0.2s ease-in;
}

.post__content-wrapper--loading {
	opacity: 0;
}

.post__content-wrapper--loaded {
	opacity: 1;
}

.post__title {
	text-align: center;
	font-weight: 900;
	margin: 0 auto;
	padding: 3rem 0;
	color: $text;
	width: 90%; 

	@media (min-width: 900px) {
		padding: 5rem 0;
	}

	@media (min-width: 550px) {
	    width: 80%; 
    }

	.reading-time__duration {
		display: block;
		width: 100%;
		text-align: center;
	}
}

.container--image {
	margin-bottom: 2rem;

	@media (min-width: 550px) {
		margin-left: auto;
		margin-right: auto;
	    
	}

	@media (min-width: 900px) { 
		max-width: 1200px;
		width: 90%;
		margin-bottom: 2.5rem;
	}
}
.post__imageWrapper {
	position: relative;
	padding: 45% 20px 0;
	overflow: hidden;
	background: $white;

	@media (min-width: 900px) { 
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			background: $white;
			content: "";
			display: block;
		}
	}	
}

.post__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: inline-block;
	transition: opacity 0.3s ease-in-out;

	@media (min-width: 900px) { 
		background: $white;
		padding: 10px;
		box-sizing: border-box;
	}
}

.post__image--loaded {
	opacity: 1;
}

.post__image--not-loaded {
	opacity: 0;
}

.post__imageLoader {
	position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    margin-top: 20%;
    fill: $background__stroke;
    animation: color_change 2s 0.3s infinite ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes color_change {
  0% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
