.button, .button--primary {
  border: 2px solid #282828;
  color: #282828;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold;
  padding: 5px 10px; }
  .button:hover, .button--primary:hover {
    background: #282828;
    color: #f2f2f2; }
  .button:active, .button--primary:active {
    background: transparent;
    color: #282828; }

.button--primary {
  padding: 10px 15px;
  border-width: 4px;
  display: inline-block; }
