.post-listing {
  display: block;
  border-bottom: 1px solid #d4d4d4;
  text-decoration: none;
  color: #2e2a2b;
  padding: 20px;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.3; }
  .post-listing:active {
    color: #2e2a2b; }

.post-listing--related {
  padding-left: 0;
  padding-right: 0; }

.post-listing__content {
  display: flex;
  justify-content: flex-end; }

.post-listing__title {
  width: 100%; }

.post-listing__imageWrapper {
  margin-bottom: 20px; }

.post-listing__image {
  width: 100%;
  display: inline-block;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0; }

.post-listing__visited {
  font-weight: normal;
  font-size: 1.5rem;
  padding: 3px 8px;
  background: #fff;
  border-radius: 3px;
  margin-left: 3px; }
  :hover .post-listing__visited {
    color: #2e2a2b; }
