@import "../../sass/components/colours";

.reading-time__duration {
	font-size: 1.6rem;
	font-weight: normal;
	color: $text-light;
	text-align: right;
	width: 80px;
}


.reading-time__minutes {
	font-size: 1.6rem;
	font-weight: normal;
	color: $text-light;
	text-align: center;
	display: block;
	margin-top: 5px;
	width: 100%;
}