.reading-time__listing {
  font-size: 1.6rem;
  font-weight: normal;
  color: #6E6E6E;
  text-align: right;
  width: 80px; }
  @media (min-width: 650px) {
    .reading-time__listing {
      width: 120px; } }

.reading-time__post {
  font-size: 1.6rem;
  font-weight: normal;
  color: #6E6E6E;
  text-align: center;
  display: block;
  margin-top: 5px;
  width: 100%;
  letter-spacing: 0.1rem; }
