$primary-colour: #ffd000;
$dark-colour: #282828;
$text-light: #EAEAEA;
$background: #282828;
$background__stroke: #707070;
$white: #fff;
$text: #fff;
$interactive: #ffd000;
$interactive--light: #FF01F5;
$black: #000;
