$primary-colour: #FEBDFF;
$dark-colour: #1A1A1A;
$text-light: #E1E1E1;
$background: #1A1A1A;
$background__stroke: #424242;
$white: #fff;
$text: #fff;
$interactive: #FEBDFF;
$interactive--light: #EC53EF;
$black: #000;
