@import "../../sass/components/colours";

.featured-image-wrapper {
    position: relative;
    padding: 45% 20px 0;
    overflow: hidden;
    background: $background__stroke;

    @media (min-width: 900px) { 
        border: 10px solid $white;
        box-sizing: border-box;
    }
}

.featured-image-wrapper--not-loaded {
    animation: load 1.5s infinite ease-in-out;
    animation-fill-mode: backwards;

    &:after {
        opacity: 0;
    }
}

@keyframes load {
  0% { opacity: 0.4; }
  20% { opacity: 1; }
  100% { opacity: 0.4; }  
}

.featured-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    transition: opacity 0.6s ease-in-out;
    z-index: 2;
}

.featured-image--loaded {
    opacity: 1;
}

.featured-image--not-loaded {
    opacity: 0;
}