.featured-image-wrapper {
  position: relative;
  padding: 45% 20px 0;
  overflow: hidden;
  background: #d4d4d4; }
  .post__content-wrapper .featured-image-wrapper {
    margin-bottom: 1.5em; }
  @media (min-width: 900px) {
    .featured-image-wrapper {
      border: 10px solid #fff;
      box-sizing: border-box; } }

.featured-image-wrapper--not-loaded {
  animation: load 1.5s infinite ease-in-out;
  animation-fill-mode: backwards; }
  .featured-image-wrapper--not-loaded:after {
    opacity: 0; }

@keyframes load {
  0% {
    opacity: 0.4; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }

.featured-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  transition: opacity 0.3s ease-in-out; }

.featured-image--loaded {
  opacity: 1; }

.featured-image--not-loaded {
  opacity: 0; }
