@import "../components/colours";
@import "../components/content";

/*= Grid
===========================================*/
.grid {
	width: 90%;
	margin: 0 auto;

	@media (min-width: 650px) {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 1em;
	}

	@media (min-width: 1200px) {
		max-width: 1200px;
		grid-column-gap: 2em;
	}
}

.grid--career {
	display: grid;
}

.about__content {
	width: 100%;
}


/*= Brand
===========================================*/
.brand {
	background: $primary-colour;
	padding: 28rem 0;
	position: relative;
	overflow: hidden;
	margin-bottom: 2.4rem;

	@media (min-width: 650px) {
		margin-bottom: 6.4rem;
	}
}

.brand__logo {
	width: 80%;
	margin: 0 auto;
	display: block;

	@media (min-width: 650px) {
		grid-column: 4 / 10;
		width: 100%;
	}

	@media (min-width: 1200px) {
		grid-column: 5 / 9;
	}

	path {
		fill: $dark-colour;
	}
}

#eyes-open {
	animation: blink 1.5s infinite;
	animation-fill-mode: backwards;
}

//screen-loader
@keyframes blink {
    0% {
        opacity: 1;
    }

    90% {
    	opacity: 1;	
    }

    100% {
        opacity: 0;
    }    
}

.content .intro-paragraph {
	color: $white;
	font-size: 3.2rem;
	
	@media (min-width: 650px) {
		font-size: 4rem;
	}
}
