@import "../components/colours";

.post__image {
    margin: 0 0 0 -5%;
    width: calc(110%);


    @media (min-width: 900px) { 
        margin-top: 4rem;
    }
}

.post__title-wrapper {
	margin: 2.4rem auto 1.6rem;

    @media (min-width: 900px) { 
		margin: 3.2rem auto 2.4rem;
    }

}

.post__title {
	font-weight: 400;
	color: $text;
	font-size: 4rem;
	margin-bottom: 0;

	.content & {
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (min-width: 650px) {
		font-size: 6rem;
	}
}

.content h1.post__title--small {
	font-size: 1.6rem;
	font-weight: normal;
	color: $text-light;
	display: block;
	margin: 3.6rem 0 5px;
	width: 100%;
	letter-spacing: 0.1rem;
}

.post__title-wrapper--portfolio {
	flex-direction: column;
}