@import "../components/colours";

/*= Eye candy
================================================== */
.portfolio {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 0.5fr);
	grid-column-gap: 1.6rem;
	grid-row-gap: 1.6rem;
	padding: 20px;

	@media (min-width: 650px) {
		grid-row-gap: 0rem;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(23, 7vw);
		padding: 0px;
	}
}

.portfolio__cell {
	overflow:hidden;
}

.portfolio-lettering {
	display: none;
	font-weight: 900;
	text-shadow: -1px 0 rgba($text-light, 0.5), 0 1px rgba($text-light, 0.5), 1px 0 rgba($text-light, 0.5), 0 -1px rgba($text-light, 0.5);
	color: $background;
	font-size: 10rem;
	overflow: hidden;
	text-transform: uppercase;

	@media (min-width: 650px) {
		display: block;
	}

	@media (min-width: 850px) {
		display: block;
		font-size: 15rem;
	}
}

.porfolio__image {
	display: block;
	width: 100%;
}

.feature1,
.feature4 {
	grid-column: 1/3;
}

.feature3 img {
	object-fit: cover;	
	height: 100%;
}

.feature6 img {
	object-fit: cover;
	height: 100%;
}

.porfolio__image--desktop {
	display: none;
}

@media (min-width: 650px) {
	.porfolio__image--desktop {
		display: block;
	}

	.porfolio__image--mobile {
		display: none;
	}	

	.feature1 {
		grid-column: 1/8;
		grid-row: 1/7;
	}

	.portfolio-lettering--web {
		grid-column: 10/13;
		grid-row: 1/4;
		justify-self: end;
		align-self: center;
	}

	.feature2 {
		grid-column: 2/5;
		grid-row: 8/12;
	}

	.portfolio-lettering--brand {
		grid-column: 6/13;
		grid-row: 8/10;
		align-self: center;
	}

	.feature3 {
		grid-column: 9/13;
		grid-row: 4/8;
		background: #8a7e61;
	}

	.feature4 {
		grid-column: 1/5;
		grid-row: 13/17;
	}

	.feature5 {
		grid-column: 6/13;
		grid-row: 10/18;
		overflow: hidden;
	}

	.portfolio-lettering--product {
		grid-column: 1/13;
		text-align: center;

		grid-row: 17/22;
		align-self: center;
	}

	.feature6 {
		grid-column: 1/13;
		grid-row: 21/25;
	}
}

/*= Grid
================================================== */
.grid.grid--work {
	width: 100%;
}

/*= Tales from the cript
================================================== */
.case-studies {
	display: none;
}

.work-title--case-studies {
	margin: 2.4rem 20px 0;
	@media (min-width: 650px) {
		margin: 6.4rem 0 0;
	}
}

.tales {
	background: $dark-colour;
	padding: 4em 0 3em; 
	color: $white;
}


.content .tales-title {
	color: $white;
	margin-top: 0;

	@media (min-width: 650px) {
		grid-column: 2/13;
	}

	@media (min-width: 1200px) {
		grid-column: 1/13;
	}
}

.grid--tales {
	grid-column-gap: 1em;
}

@media (min-width: 650px) {
	.tale:nth-child(2n+1) {
		grid-column: 1/7;

		.post-listing { 
			margin-left: 20px;
		}
	}

	.tale:nth-child(2n+2) {
		grid-column: 7/13;

		.post-listing { 
			margin-right: 20px;
		}
	}
}

@media (min-width: 700px) {
	.tale:nth-child(2n+1) {
		.post-listing { 
			margin-left: 0px;
		}
	}

	.tale:nth-child(2n+2) {
		.post-listing { 
			margin-right: 00px;
		}
	}
}

.tale {
	@media (min-width: 650px) {
		.post-listing {
			border: 0;
		}
	}

	.featured-image-wrapper {
		border: 0;	
	}

	@media( min-width: 650px ){
		.post-listing__image-wrapper {
			margin-bottom: 10px;
		}		
	}	
}